body {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
}

#title, h1{
text-align: center;
margin-top:20px;
margin-bottom: 20px;
}

#bar{
margin-left: 150px;
}

.jumbotron{
  background: white;
}

img{
  height: 500px;
  width: 300px;
margin-left: 300px;
padding : 0px;
}

#poster{
  height: 500px;
  width: 300px;
margin-left: 100px;

}

#info{
  border-width: 1px;
  border-style: solid;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

#movie{
  margin-top: 200px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 180px;
}

#movie1{
  margin-top: 100px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 40px;
}


#title1{
  font-size: 24px;
}

a{
  color: white;
}